<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultrag.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:replace="~{fragments/header :: header}"></div>
<h3 th:text="${title}"></h3>
    <a href="/user/form.html" th:href="@{/user/form}">新增</a>
<table border="2">
    <thead>
        <tr>
            <td>id</td>
            <td>name</td>
            <td>email</td>
            <td>操作</td>
        </tr>
    </thead>
    <tbody>
        <tr th:if="${users.size()} eq 0">
            <td colspan="4"><b>没有用户信息</b></td>
        </tr>
        <tr th:each="user : ${users}">
            <td th:text="${user.id}"></td>
            <td th:text="${user.name}"></td>
            <td th:text="${user.email}"></td>
            <td>
                <div style="width: 200px;">
                    <a th:text="编辑" th:href="@{'/user/edit/'+${user.id}}"></a>
                    <a th:text="查看" th:href="@{'/user/'+${user.id}}"></a>
                    <a th:text="删除" th:href="@{'/user/del/'+${user.id}}"></a>
                </div>
            </td>
        </tr>
    </tbody>
</table>
<div th:replace="~{fragments/footer :: footer}"></div>
</body>
</html>